nav {
    padding: 417px , 20px;
    margin: 32px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}
  
.logo {
    order: 0;
    float: left;
    padding-right: 25%;
}

.item {
    display: block;
    margin-top: 32px;
    order: 1;
    float: right;
    padding: 0px 14px 0px 14px;
}
  
.profile {
    margin-top: 22px;
    order: 2;
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding:16px ;
    text-decoration: none;
}
  
.item:hover {
    background-color: #111111;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #FFCCCB;
}

.circle {
    border-radius: 50%;
}

.profile img {
    border-radius: 50%;
    width: 40PX;
    height: 40px   ;
}

.logo img {
    margin-top: 8px;
    width: 200px;
    height: 75px;
}